body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a:hover {
  background-color: black;
}

.navbar {
  background-color: gray;
  height: 72px;
  margin: 0 auto;
  padding-left: 19%;
  margin: auto;
  position: fixed;
  z-index: 500;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nb {
  background-color: darkgrey;
  color: black;
  margin-top: 20px;
  margin-right: 10px;
  height: 40px;
  width: 174px;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
}

/*
.navbar-nav{
    padding-left: 25%px;
}
*/

.first {
  height: 570px;
  text-align: center;
  padding: 200px;
  background: url(images/adventure-backlit-climb-1109881.jpg) no-repeat center
    center fixed;
  background-size: cover;
  background-size: cover;
  background-size: cover;
  background-size: cover;
  font-size: 3em;
  color: black;
}

span {
  color: white !important;
  font-size: 3em !important;
}

.one {
  height: 200px;
  padding-left: 20px;
  text-align: center;
  padding-top: 20px;
  z-index: 10;
}

.two {
  height: 200px;
  text-align: center;
  padding-top: 20px;
  z-index: 10;
}

.three {
  height: 200px;
  text-align: center;
  padding-top: 20px;
  z-index: 10;
}

.m1 {
  height: 200px;
}

.btn1 {
  color: black;
  font-family: cursive;
  height: 46px;
  width: 173px;
  font-size: 2em;
  padding-bottom: 10px;
}

.b1 {
  background-color: green;
  color: white;
  width: 210px;
  text-align: center;
}

.b2 {
  background-color: blue;
  color: white;
  width: 200px;
  text-align: center;
}

.b3 {
  background-color: brown;
  color: white;
  width: 200px;
  text-align: center;
}

.b2:hover {
  color: black;
}

.b3:hover {
  color: black;
}

.b1:hover {
  color: black;
}

.again {
  padding: 30px;
  margin-top: 50px;
  margin-top: 200px;
  text-align: center;
  height: 600px;
}

.but {
  text-align: right;
}

.trial {
  background-color: lightgray;
  padding: 10px;
}

.second {
  height: 400px;
  text-align: center;
  padding: 120px;
  font-size: 20px;
  background: url(images/amazing-austria-dawn-1323550.jpg) no-repeat center
    center fixed;
  background-size: cover;
  background-size: cover;
  background-size: cover;
  background-size: cover;
}

.once-again {
  height: 600px;
  text-align: center;
}

.wow {
  height: 600px;
  text-align: left;
}

.third {
  background: url(images/adventure-calm-clouds-414171.jpg) no-repeat center
    center fixed;
  background-size: cover;
  background-size: cover;
  background-size: cover;
  background-size: cover;
  height: 600px;
  color: white;
  text-align: center;
  padding: 100px;
}

.text {
  background-color: dimgrey;
  opacity: 0.5;
  padding: 40px;
  margin: 30px;
}

.form {
  text-align: left;
  padding-left: 450px;
  border-radius: 2px;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

.final {
  text-align: center;
  height: 150px;
  border-bottom: 1px solid black;
  padding-left: 200px;
  padding-right: 200px;
}

footer {
  text-align: center;
  height: 50px;
}

.hey {
  padding-bottom: 20px !important;
}

.bb {
  color: black !important;
  font-size: 1.2em !important;
}

.form {
  color: black;
  font-weight: bolder;
}

.titlle {
  color: black;
}
